@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0%;
 

}
body {
  height: 100vh;
  
  padding: 0%;
  font-family: 'Ubuntu', sans-serif;  
}

 

.background-radial-gradient {
  background-image: url('/images/594305.jpg');
  background-size: 100%;
}

#radius-shape-1 {
 height: 220px;
 width: 220px;
 top: -60px;
 left: -130px;
 background: radial-gradient(#44006b, #ad1fff);
 overflow: hidden;
}

#radius-shape-2 {
 border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
 bottom: -60px;
 right: -110px;
 width: 300px;
 height: 300px;
 background: radial-gradient(#44006b, #ad1fff);
 overflow: hidden;
}

.bg-glass {
 background-color: hsl(0deg 0% 0% / 28%) !important;
 backdrop-filter: saturate(113%) blur(5px);
 border-radius: 5px;
}



#information{
  color: red;
  display: none;
  font-weight: 600;
}